{% extends "base.html" %}

{% block content %}
  <style type="text/css">
    .active {
      font-weight:bold;
    }
  </style>
  <div class="container">
    <div class="row">
      <div class="col">{% include 'servers.html' %}</div>
      <div class="col">{% include 'channels.html' %}</div>
      <div class="col">{% block action %}{% endblock %}</div>
      <div class="col">{% block people %}{% endblock %}</div>
      {% if active_channel.type == 'text' %}
        {% include 'text_channel.html' %}
      {% elif active_channel.type == 'voice' %}
        {% include 'voice_channel.html' %}
      {% endif %}
    </div>
  </div>
{% endblock %}